<nav class="">
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li> <%= link_to "sign in", new_user_session_path %> </li>
        <li><%= link_to "Sign out", store_path %></li>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(current_cart) %></li>
        <% end %>
    </ul>
</nav>
