<nav class="">
    <b><%= link_to "Store Home", store_path %> </b>|
    <% if current_user && current_user.current_cart %>
    <b><%= link_to "Cart", cart_path(current_user.current_cart) %> </b> |
    <% end %>
      <% if user_signed_in? %>
      <b>Signed in as <%=current_user.email%></b> |
      <b> <%= link_to "Sign out", destroy_user_session_path, :method => "delete"%></b> |
        <% else %>
        <b><%= link_to "Sign up", new_user_registration_path %></b> |
        <b><%= link_to "sign in", new_user_session_path %></b>  |
        <% end %>
</nav>
